body{
background-color: blanchedalmond;
color: black;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-align: left;
border: rgb(224, 158, 59);
}

img{
size: 200px;
width: 200px;
height: 200px;
}

/* 
.container {
display: flex;
} */


